
body{
    margin-left: 200px;
}
.top_row, .bottom_row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.img_container {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
}

.img_container img {
    max-width: 100%;
    height: auto;
}
